
@media screen and ( max-width: 320px){
	@font-face 
	{
	    font-family: 'police1';
	    src: url('fonts/goodvibes.ttf');
	}
	body {
	text-align: center;
	width: 320px;
	margin: auto;
	font-family: 'Convergence', sans-serif;
	background-image: url("media/table.jpg");
	border: 1px solid black;
	box-shadow: 20px 20px 15px black;
	background-size: 100%;
	}
	nav
	{
		display: flex;
		margin: auto;
	}

	nav ul
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0px;
	}

	nav ul li
	{
		display: block;
		border: 2px outset black;
		border-radius: 2px;
		margin-right: 20px;
		margin-left: 20px;
		width: 150px;
		background-color: rgba(0, 0, 0, 0.300);	
	}

	nav ul li:active
	{
		border: 2px inset black;
	}

	nav ul li a:hover
	{
		color:#552323;
		font-weight: bold;
	}

	nav a
	{
		text-decoration: none;
		color: black;
	}

	.exempleinput
	{
		text-align:left;
		margin-left: 0px;

	}

	.exformulaire
	{
		text-align: left;
	}

	.extable
	{
		text-align: center;
		margin: 0 auto;
		border:2px solid black;
	}

	.extable2
	{
		text-align: center;
		margin: 0 auto;
		border:2px solid black;
	}

	h1
	{
		padding-top: 30px;
		font-family: "police1";
		font-size: 32px;
		margin-top: 0px;
		color: #663E10;
		-webkit-filter: url('#filter'); /* webkit browser */
	            filter: url('#filter'); /* all others browsers */
	}

	svg	
	{
		height: 0px;
		width: 0px;
	}

	p
	{
		text-align: left;
		margin-left: 15px;
	}

	.extable3
	{
		display: flex;
		margin-left: 15px;
	}

	img
	{
		max-width: 280px;
	}

	#main
	{
		background-color: white;
		margin: -20px;
		margin-top: -70px;
		margin-bottom: -42px;

	}

	main
	{
		background-color: white;
		background-image: url("media/texture.jpg");
		background-size: cover;
		width:100%;
	    height:100%;
	}

	.pmaudit
	{
		margin-bottom: 0px;
		padding-bottom: 20px;
	}

	.exformulaire
	{
		margin-left: 10px;
	}

	.nope
	{
		color: inherit;
	} 

	code
	{
		font-weight: bold;
	}

	p code
	{
		color:rgb(87, 87, 196);
	}

	html 
	{
		overflow-y: scroll;
} 
}
@media screen and ( min-width: 820px ){
	@font-face 
	{
	    font-family: 'police1';
	    src: url('fonts/goodvibes.ttf');
	}
	body
	{ 
		text-align: center;
		width: 800px;
		margin: auto;
		font-family: 'Convergence', sans-serif;
		font-size: 20px;
		background-image: url("media/table_HD6.jpg");
		border: 1px solid black;
		box-shadow: 20px 20px 15px black;
		background-size: 100%;

	}

	/* Header et Titre */

	/* Menu */
	nav
	{
		display: flex;
		margin: auto;
	}

	nav ul
	{
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
	}

	nav ul li
	{
		display: block;
		border: 2px outset black;
		border-radius: 2px;
		margin: 20px;
		margin-right: 20px;
		margin-left: 20px;
		width: 150px;
		background-color: rgba(0, 0, 0, 0.300);	
	}

	nav ul li:active
	{
		border: 2px inset black;
	}

	nav ul li a:hover
	{
		color:#552323;
		font-weight: bold;
	}

	nav a
	{
		text-decoration: none;
		color: black;
	}

	.exempleinput
	{
		text-align:left;
		margin-left: 0px;

	}

	.exformulaire
	{
		text-align: left;
	}

	.extable
	{
		text-align: center;
		margin: 0 auto;
		border:2px solid black;
	}

	.extable2
	{
		text-align: center;
		margin: 0 auto;
		border:2px solid black;
	}

	h1
	{
		padding-top: 30px;
		font-family: "police1";
		font-size: 74px;
		margin-top: 0px;
		color: #663E10;
		-webkit-filter: url('#filter'); /* webkit browser */
	            filter: url('#filter'); /* all others browsers */
	}

	svg	
	{
		height: 0px;
		width: 0px;
	}

	p
	{
		text-align: left;
		margin-left: 15px;
	}

	.extable3
	{
		display: flex;
		margin-left: 15px;
	}

	img
	{
		max-width: 780px;
	}

	#main
	{
		background-color: white;
		margin: -20px;
		margin-top: -70px;
		margin-bottom: -42px;

	}

	main
	{
		background-color: white;
		background-image: url("media/texture.jpg");
		background-size: cover;
		width:100%;
	    height:100%;
	}

	.pmaudit
	{
		margin-bottom: 0px;
		padding-bottom: 20px;
	}

	.exformulaire
	{
		margin-left: 10px;
	}

	.nope
	{
		color: inherit;
	} 

	code
	{
		font-weight: bold;
	}

	p code
	{
		color:rgb(87, 87, 196);
	}

	html 
	{
		overflow-y: scroll;
	} 
}
@media screen and ( max-width: 819px ) and (min-width: 321px ){
	@font-face 
	{
	    font-family: 'police1';
	    src: url('fonts/goodvibes.ttf');
	}
	body
	{
		text-align: center;
		width: 400px;
		margin: auto;
		font-family: 'Convergence', sans-serif;
		font-size: 15px;
		background-image: url("media/table_HD6.jpg");
		border: 1px solid black;
		box-shadow: 20px 20px 15px black;
		background-size: 100%;

	}

	/* Header et Titre */

	/* Menu */
	nav
	{
		display: flex;
		margin: auto;
	}

	nav ul
	{
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
	}

	nav ul li
	{
		display: block;
		border: 2px outset black;
		border-radius: 2px;
		margin: 20px;
		margin-right: 20px;
		margin-left: 20px;
		width: 150px;
		background-color: rgba(0, 0, 0, 0.300);	
	}

	nav ul li:active
	{
		border: 2px inset black;
	}

	nav ul li a:hover
	{
		color:#552323;
		font-weight: bold;
	}

	nav a
	{
		text-decoration: none;
		color: black;
	}

	.exempleinput
	{
		text-align:left;
		margin-left: 0px;

	}

	.exformulaire
	{
		text-align: left;
	}

	.extable
	{
		text-align: center;
		margin: 0 auto;
		border:2px solid black;
	}

	.extable2
	{
		text-align: center;
		margin: 0 auto;
		border:2px solid black;
	}

	h1
	{
		padding-top: 30px;
		font-family: "police1";
		font-size: 60px;
		margin-top: 0px;
		color: #663E10;
		-webkit-filter: url('#filter'); /* webkit browser */
	            filter: url('#filter'); /* all others browsers */
	}

	svg	
	{
		height: 0px;
		width: 0px;
	}

	p
	{
		text-align: left;
		margin-left: 15px;
	}

	.extable3
	{
		display: flex;
		margin-left: 15px;
	}

	img
	{
		max-width: 380px;
	}

	#main
	{
		background-color: white;
		margin: -20px;
		margin-top: -70px;
		margin-bottom: -42px;

	}

	main
	{
		background-color: white;
		background-image: url("media/texture.jpg");
		background-size: cover;
		width:100%;
	    height:100%;
	}

	.pmaudit
	{
		margin-bottom: 0px;
		padding-bottom: 20px;
	}

	.exformulaire
	{
		margin-left: 10px;
	}

	.nope
	{
		color: inherit;
	} 

	code
	{
		font-weight: bold;
	}

	p code
	{
		color:rgb(87, 87, 196);
	}

	html 
	{
		overflow-y: scroll;
	} 
}

.formulaire{
	width: 50%;
}

.formulaire p{
	margin: 0;
	margin-left: 20px;
}

textarea{
	resize: none;
	background: transparent;
	border: 2px solid #663E10;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bolder;
}
input{
	background: transparent;
	border: 2px solid #663E10;
	font-size: 20px;
}

#pays{
	background: transparent;
	border: 2px solid #663E10;
}

.contactus{
 text-decoration: none;
 color:black;
 border: 2px outset black;		
 margin-right: 20px;
 margin-left: 20px;
 width: 150px;
 background-color: rgba(0, 0, 0, 0.300)
}
footer{
	display: flex;
	justify-content: space-between;

}
span{
	margin-right: 15px;
}

.flexend{
	display: flex;
justify-content: flex-end;
}

.h2contact{
	text-align: left;
	margin-left: 15px;
}


.erreurnom{
	width:500px;
	height: 12px;
	color: red;
	margin-bottom: 10px;
	font-size: 10px;
}

.erreurprenom{
	width:500px;
	height: 12px;
	color: red;
	margin-bottom: 10px;
	font-size: 10px;
}

.erreurmail{
	width:500px;
	height: 12px;
	color: red;
	margin-bottom: 10px;
	font-size: 10px;
}

.erreurage{
	width:500px;
	height: 12px;
	color: red;
	margin-bottom: 10px;
	font-size: 10px;
}

.erreurpays{
	width:500px;
	height: 12px;
	color: red;
	margin-bottom: 10px;
	font-size: 10px;
}